# NDF evaluation result aggregation

In [ ]:
import wandb
import pandas as pd
import json

In [ ]:


def get_results_table(run_id):
    api = wandb.Api()
    json_file = api.artifact(f'r-pad/taxpose/run-{run_id}-eval_results:v0').get_path('eval_results.table.json').download()
    with open(json_file) as file:
        json_dict = json.load(file)
    return pd.DataFrame(json_dict["data"], columns=json_dict["columns"])

In [ ]:
df = get_results_table("1lhn802x")
df

In [ ]:
# Function to select the following columns from the dataframe:
# Grasp, Place@0.00, Place@0.01, Place@0.02, Place@0.03 Place, Overall@0.00, Overall@0.01, Overall@0.02, Overall@0.03, Overall
def select_columns(df):
    return df[['Grasp', 'Place@0.0', 'Place@0.01', 'Place@0.02', 'Place@0.03', 'Place', 'Overall@0.0', 'Overall@0.01', 'Overall@0.02', 'Overall@0.03', 'Overall']]

In [ ]:
select_columns(df)

In [ ]:
cols = ['Grasp', 'Place@0.01', 'Place@0.03', 'Place',
       'Overall@0.01',  'Overall@0.03',
       'Overall']

In [ ]:
df.columns

In [ ]:
def merge_table(table1, table2):
    """Merge two tables by putting a slash between each cell.

    Args:
        table1 (pd.DataFrame): A table.
        table2 (pd.DataFrame): A table.

    Returns:
        pd.DataFrame: A merged table.
    """
    assert table1.shape == table2.shape
    # create a new table to store the merged values
    table1 = table1.copy()

    # Iterate over the rows.
    for i in range(table1.shape[0]):
        # Iterate over the columns.
        for j in range(table1.shape[1]):
            # Merge the two cells.
            table1.iloc[i, j] = f"{table1.iloc[i, j]}/{table2.iloc[i, j]}"
    return table1

In [ ]:
merge_table(df, df)

In [ ]:
df

In [ ]:
# Mug - upright
ids = ["1earfvy7", "6iwbbui3"]
methods = ["TAX-Pose", "Ours"]

# Get the dfs:
dfs = [get_results_table(id) for id in ids]

# Prune the dfs:
dfs = [select_columns(df) for df in dfs]

# Concatenate the dfs, and make methods the index.
df_mug_upright = pd.concat(dfs, keys=methods)

df_mug_upright

In [ ]:
df_mug = merge_table(df_mug_upright, df_mug_arbitrary)
df_mug

In [ ]:
print(df_mug[cols].to_latex())

In [ ]:
# Mug - arbitrary
ids = ["oua2prpu", "mv78haro"]
methods = ["TAX-Pose", "Ours"]

# Get the dfs:
dfs = [get_results_table(id) for id in ids]

# Prune the dfs:
dfs = [select_columns(df) for df in dfs]

# Concatenate the dfs, and make methods the index.
df_mug_arbitrary = pd.concat(dfs, keys=methods)

df_mug_arbitrary

In [ ]:
# Bottle - upright
ids = ["922blg3t", "98k2uzwf"]
methods = ["TAX-Pose", "Ours"]

# Get the dfs:
dfs = [get_results_table(id) for id in ids]

# Prune the dfs:
dfs = [select_columns(df) for df in dfs]

# Concatenate the dfs, and make methods the index.
df_bottle_upright = pd.concat(dfs, keys=methods)

df_bottle_upright

In [ ]:
print(df.to_markdown())

In [ ]:
print(df.style.format(precision=2).to_latex())

In [ ]:
# Bottle - arbitrary
ids = ["86qjwjwa", "32dfgjg1"]
methods = ["TAX-Pose", "Ours"]

# Get the dfs:
dfs = [get_results_table(id) for id in ids]

# Prune the dfs:
dfs = [select_columns(df) for df in dfs]

# Concatenate the dfs, and make methods the index.
df_bottle_arbitrary = pd.concat(dfs, keys=methods)

df_bottle_arbitrary

In [ ]:
df_bottle = merge_table(df_bottle_upright, df_bottle_arbitrary)
df_bottle

In [ ]:
print(df_bottle[cols].to_latex())

In [ ]:
print(df.to_markdown())

In [ ]:
print(df.style.format(precision=2).to_latex())

In [ ]:
# Bowl - upright
ids = ["2p4k9lts", "awjq5lwj"]
methods = ["TAX-Pose", "Ours"]

# Get the dfs:
dfs = [get_results_table(id) for id in ids]

# Prune the dfs:
dfs = [select_columns(df) for df in dfs]

# Concatenate the dfs, and make methods the index.
df_bowl_upright = pd.concat(dfs, keys=methods)

df_bowl_upright

In [ ]:
print(df.to_markdown())

In [ ]:
print(df.style.format(precision=2).to_latex())

In [ ]:
# Bowl - arbitrary
ids = ["ve3g0j19", "v0pzmw7i"]
methods = ["TAX-Pose", "Ours"]

# Get the dfs:
dfs = [get_results_table(id) for id in ids]

# Prune the dfs:
dfs = [select_columns(df) for df in dfs]

# Concatenate the dfs, and make methods the index.
df_bowl_arbitrary = pd.concat(dfs, keys=methods)

df_bowl_arbitrary

In [ ]:
df_bowl = merge_table(df_bowl_upright, df_bowl_arbitrary)
df_bowl

In [ ]:
print(df_bowl[cols].to_latex())

In [ ]:
print(df.to_markdown())

In [ ]:
print(df.style.format(precision=2).to_latex())

In [ ]:
# SE(3) comparison
ids = ["uiemocd5", "ormuoxbj"]
methods = ["TAX-Pose", "Ours"]

# Get the dfs:
dfs = [get_results_table(id) for id in ids]

# Prune the dfs:
dfs = [select_columns(df) for df in dfs]

# Concatenate the dfs, and make methods the index.
df = pd.concat(dfs, keys=methods)

df

In [ ]:
print(df.to_markdown())

In [ ]:
print(df.style.format(precision=2).to_latex())

In [ ]:
# Write a function which takes a dataframe as input and returns a markdown table as output.
def to_markdown(df):
    df.to_markdown()

In [ ]:
max_to_markdown(df)

In [ ]:
# Write a function which bolds the largest number in each column of a markdown table.
# def bold_largest_number(table):
#     # Split the table into rows
#     rows = table.split('\n')
#     # Split each row into columns
#     columns = [row.split('|') for row in rows]
#     # Remove the first and last columns
#     columns = [column[1:-1] for column in columns]
#     # Remove the first and last rows
#     columns = columns[1:-1]
#     # Convert each column to a list of integers
#     columns = [[int(number) for number in column] for column in columns]
#     # Find the largest number in each column
#     largest_numbers = [max(column) for column in columns]
#     # Replace the largest number in each column with a bold version of itself
#     for i, largest_number in enumerate(largest_numbers):
#         for j, number in enumerate(columns[i]):
#             if number == largest_number:
#                 columns[i][j] = f'**{number}**'
#     # Convert each column back to a list of strings
#     columns = [[str(number) for number in column] for column in columns]
#     # Join each column back into a row
#     rows = ['|'.join(column) for column in columns]
#     # Join each row back into a table
#     table = '\n'.join(rows)
#     # Return the table
#     return table

In [ ]:
print(df.to_markdown())

In [ ]:
to_markdown_with_largest_bolded(df)